.landing {
  display: flex;
  background-image: url("../Components/Assets/imagenLanding.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 2rem;
  margin: 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.btnHome {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #1e030399, -6px -6px 12px #1e030399;
}
.btnHome:hover {
  border: 1px solid rgb(5, 5, 5);
}
.welcome {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #1e030399, -6px -6px 12px #1e030399;
}
