.pagination {
  width: 10px;
}

.pages {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.pageBtn {
  color: #fff;
  padding: 5px 8px;
  margin-right: 5px;
  background: #3d3c3c;
  text-decoration: none;
  border-radius: 4px 4px 4px 4px;
}
