.dietContainer {
  display: grid;
  justify-items: center;
}
.recipeImg {
  height: 200px;
  width: 100%;
}
.recipe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.containerImg {
  width: 100%;
}

.name {
  height: 0px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  text-align: center;
  margin-top: 10px;
}

.containerName {
  border-bottom: 1px solid #abaaa87a;
  margin: 10px 21px;
  padding-bottom: 11px;
}
