.search {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  width: 210px;
  height: 24px;
  padding: 0 5px;
}
.searchInput {
  background-color: transparent;
  border-radius: 4px;
  margin: 3px;
  padding-left: 25px;
  width: 200px;
  margin-left: 200px;
}

.searchButton {
  color: #090909;
  margin: 3px;
  padding: 8px 32px;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
}

.namePosition {
  margin: -8px;
  font-size: 12px;
}
